button.button.radius.expand.happy {
	background: #23D89E;
	border-color: #23D89E;
	height: 5rem;
	font-size: 28px;
	margin-bottom: 0;
}

button.button.radius.expand.happy:hover{
background-color: #0E5841;
}

div#msg {
    text-align: center;
    padding: 1rem;
    color: #2284a1;
    font: inherit;
    font-size: 24px;
}

div#msg-date {
    text-align: center;
    padding: 1rem;
    color: #23D89E;
    font: inherit;
    font-size: 24px;
}

div#msg-box{
	border: solid 5px #000000;
	box-shadow: 3px 5px 5px #888;
    display: none;
}

div#alert1{
    color: red;
}

.alert-box.success{
    background-color: #A50A39;
    border-color: #4F051B;
}

img#main-logo{
    margin-left: auto;
    margin-right: auto;
    display: block;
}